.Button {
	height: 64px;
	width: 64px;
	border-radius: 6px;
	color: #ff0101;
	background-color: #fff;

	box-shadow: none;
	border: none;
}

.Button svg {
	width: 36px;
	height: 36px;
}
