.MockContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.MockInputBtnContainer {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.MockInputBtnContainer label {
	color: #fff;
	font-family: 'Gill Sans', sans-serif;
}

.MockInputBtnContainer input {
	width: 80px;
	height: 30px;
	font-family: 'Gill Sans', sans-serif;
	font-size: 14px;
}

.toggle-switch {
	width: 75px;
	display: inline-block;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	text-align: left;
}

.toggle-switch-checkbox {
	display: none;
}
.toggle-switch-label {
	display: block;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	border: 0 solid #bbb;
	border-radius: 20px;
	margin: 0;
}
.toggle-switch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
	font-family: 'Gill Sans', sans-serif;
}
.toggle-switch-inner:before,
.toggle-switch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 34px;
	padding: 0;
	line-height: 34px;
	font-size: 14px;
	color: white;
	font-weight: bold;
	box-sizing: border-box;
	font-size: 0.7rem;
}
.toggle-switch-inner:before {
	content: 'MOCK';
	text-transform: uppercase;
	padding-left: 10px;
	background-color: rgb(26, 149, 48);
	color: #fff;
}
.toggle-switch-disabled {
	background-color: #ddd;
	cursor: not-allowed;
}
.toggle-switch-disabled:before {
	background-color: #ddd;
	cursor: not-allowed;
}
.toggle-switch-inner:after {
	content: 'API';
	text-transform: uppercase;
	padding-right: 10px;
	background-color: #4a4242;
	color: #fff;
	text-align: right;
}
.toggle-switch-switch {
	display: block;
	width: 24px;
	margin: 5px;
	background: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 40px;
	border: 0 solid #bbb;
	border-radius: 20px;
	transition: all 0.3s ease-in 0s;
}
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
	margin-left: 0;
}
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
	right: 0px;
}

.input-error {
	font-family: 'Gill Sans', sans-serif;
	font-size: 11px;
	color: #e12012;
}
