.RadarGraph--Container {
	width: 258px;
	height: 263px;
	border-radius: 5px;
	background: #282d30;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
}

.recharts-layer recharts-polar-angle-axis-tick {
	color: #fff;
	text-align: right;
	font-family: Roboto;
	font-size: 42px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px; /* 200% */
}
