.Aside {
	width: 117px;
	height: calc(100vh - 91px);

	position: static;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #020203;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.Aside nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.Aside nav ul li {
	width: 64px;
	height: 64px;
	color: #fff;
	margin-bottom: 20px;
}

.AsideCopiryght {
	position: absolute;
	top: 80%;
	color: #fff;
	font-family: Roboto;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	transform: rotate(-90deg);
	transform-origin: center;
	white-space: nowrap;
	text-align: center;
	padding: 0;
}
